.home-content {
  padding-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
}

.home-button {
  display: flex;
  justify-content: center;
}

.home-button a {
  text-decoration: none;
}